@media only screen and (min-width: 1px) and (max-width: 679px) {
    body, html {
        font-family: 'Roboto', sans-serif;
        background-color: steelblue;
        width: auto;
        height: auto;
        min-width: 320px;
        overflow-x: hidden;
        margin: 0 auto;
        padding: 0;
    }
    img {
        max-width: 100%;
    }
    a {
        text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p,
    li,
    blockquote {
        color: white;
    }
    h1 {
        font-weight: 600;
    }
    h3,
    p,
    li,
    blockquote {
        font-weight: 300;
    }
    .top {
        position: fixed;
        margin: 0;
        padding: 0;
        right: 0.8rem;
        bottom: 1.6rem;
        z-index: 10;
        width: 35px;
        height: 35px;
    }
    .top a {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 0;
    }
    .logo {
        display: none;
    }
    .logo-mobile,
    .logo-mobile img {
        width: 180px;
        padding: 0.6rem 0 0.6rem 0.6rem;
        margin: 0;
    }
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
    }
    .menu-bg {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 66px;
        background-color: steelblue;
        z-index: 2;
    }
    .row {
        position: relative;
    }
    label {
        color: white;
        font-size: 5rem;
        line-height: 5rem;
        position: absolute;
        right: 1rem;
        top: -0.3rem;
        margin: 0;
        padding: 0;
    }
    #menu-toggler {
        display: none;
    }
    #menu-toggler:checked + nav {
        display: block;
    }
    .navbar nav {
        display: none;
        position: absolute;
        top: 0;
        padding-top: 4.5rem;
        padding-bottom: 1rem;
        width: 100%;
        height: auto;
        background-color: steelblue;
        z-index: -1;
    }
    nav ul {
        margin: auto;
        padding: 0;
    }
    nav ul li {
        display: block;
        list-style: none;
        text-align: center;
        margin: 1.2rem auto;
    }
    nav ul li a {
        color: white;
        font-size: 1.6rem;
        margin: 0;
    }
    .landing-page {
        background-image: url(../img/slider1.jpg);
        -webkit-background-origin: border-box;
        -moz-background-origin: border-box;
        -o-background-origin: border-box;
        background-origin: border-box;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        min-height: 340px;
        z-index: 3;
    }
    .lp-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(70, 130, 180, 0.5);
    }
    .lp-content {
        position: absolute;
        top: 54%;
        width: 96%;
        height: auto;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 4;
    }
    .lp-content h1 {
        font-size: 3rem;
        /*    margin: 1.2rem;*/
    }
    .lp-content p,
    .lp-content a {
        font-weight: 300;
        font-size: 1.2rem;
        max-width: 80%;
        margin: 1rem;
    }
    .lp-content p {
        display: block;
        margin: auto;
        margin-bottom: 1.2rem;
    }
    .lp-content a {
        font-size: 1.2rem;
        display: inline-block;
        background-color: rgba(70, 130, 180, 0.7);
        padding: 0.6rem 1rem;
        border: 2px solid white;
        -webkit-transition: background-color 0.3s linear;
        -moz-transition: background-color 0.3s linear;
        -o-transition: background-color 0.3s linear;
        transition: background-color 0.3s linear;
    }
    .lp-content a:hover {
        background-color: steelblue;
    }
    .key-points,
    .intro,
    .services,
    .portfolio,
    .contact,
    .map-form-section {
        padding: 2rem 0;
        width: 100vw;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px dotted white;
        position: relative;
        z-index: 1;
    }
    .md-sd {
        border-top: 1px dotted white;
        border-bottom: 1px dotted white;
    }
    .key-pt div img {
        margin-top: 2rem;
        width: 90px;
        position: relative;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .key-pt div h3 {
        text-align: center;
        max-width: 80%;
        margin-bottom: 2rem;
        position: relative;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .intro-text {
        text-align: center;
    }
    .intro-text p {
        font-size: 1.2rem;
        max-width: 94%;
        position: relative;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .first {
        margin-top: 0;
    }
    .last {
        margin-bottom: 0;
    }
    .s-title {
        text-align: center;
    }
    .services-images {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        /*    margin: 1rem;*/
        padding: 0;
    }
    .services-images img {
        width: 260px;
        margin-left: -10%;
    }
    .services-row {
        position: relative;
    }
    .services-row ol li {
        list-style: none;
        display: block;
        margin-right: 0.6rem;
        padding: 0;
    }
    .services-row ol,
    ul,
    li {
        font-size: 1.2rem;
        margin-bottom: 0.4rem;
        margin-top: 0;
        list-style: disc;
    }
    #gallery {
        margin: auto;
        padding: 0;
        margin-top: 4%;
        width: 100%;
        height: auto;
        text-align: center;
    }
    #gallery a {
        width: 140px;
        height: 140px;
        overflow: hidden;
        margin: auto;
        padding: 0;
        display: inline-block;
    }
    #gallery img {
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        margin: auto;
        height: 100%;
        width: 100%;
    }
    #gallery a:nth-child(1n+11) {
        visibility: hidden;
        display: none;
    }
    #gallery:target a:nth-child(1n+11) {
        visibility: visible;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    #gallery:target + .view-more {
        visibility: hidden;
        display: none;
    }
    .view-more {
        display: inline-block;
        margin: auto;
        margin-left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        margin-top: 2rem;
        clear: both;
        font-style: normal;
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
        padding: 0.8rem 1.4rem 0.8rem 1.4rem;
        font-size: 1rem;
        background: rgba(0, 0, 0, 0);
        border: solid 1px white;
    }
    .view-more:hover,
    .view-more.hover {
        border-color: white;
        color: white;
        cursor: pointer;
    }
    .view-more:active,
    .view-more.active {
        border-color: white;
        color: white;
        -webkit-box-shadow: 0 0 5px 1px white;
        -moz-box-shadow: 0 0 5px 1px white;
        box-shadow: 0 0 5px 1px white;
    }
    .contact {
        text-align: center;
    }
    .facebook,
    .facebook img {
        width: 2.4rem;
        height: 2.4rem;
        -webkit-transition: -webkit-transform 0.3s linear;
        transition: -webkit-transform 0.3s linear;
        -moz-transition: transform 0.3s linear, -moz-transform 0.3s linear;
        -o-transition: transform 0.3s linear, -o-transform 0.3s linear;
        transition: transform 0.3s linear;
        transition: transform 0.3s linear, -webkit-transform 0.3s linear, -moz-transform 0.3s linear, -o-transform 0.3s linear;
    }
    .facebook img:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    .map h1,
    .form h1 {
        text-align: center;
    }
    /*MAP STYLES*/
    #id-dummy {
        height: 22vw;
        width: 44vw;
        min-height: 220px;
        min-width: 80%;
        max-width: 50vw;
        max-height: 30vw;
        padding: 0;
        margin: 12% auto;
        z-index: 0;
    }
    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4,
    .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }
    /*FORM STYLES*/
    form {
        width: 80%;
        position: relative;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        font-size: 1.2rem;
    }
    .style-1 input[type="text"] {
        color: steelblue;
        width: 100%;
        padding: 1rem;
        margin: -.1%;
        border: solid 1px steelblue;
        border-bottom: 0;
        -webkit-transition: -webkit-box-shadow 0.3s, border 0.3s;
        -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
        transition: border 0.3s, -webkit-box-shadow 0.3s;
        -moz-transition: box-shadow 0.3s, border 0.3s, -moz-box-shadow 0.3s;
        -o-transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
    }
    .style-1 input[type="text"]:focus,
    .style-1 input[type="text"].focus {
        color: steelblue;
        -webkit-transform: translate(0, .1%);
        -moz-transform: translate(0, .1%);
        -ms-transform: translate(0, .1%);
        -o-transform: translate(0, .1%);
        transform: translate(0, .1%);
        width: 100%;
        border: solid 1px steelblue;
        -webkit-box-shadow: 0 0 5px 1px white;
        -moz-box-shadow: 0 0 5px 1px white;
        box-shadow: 0 0 5px 1px white;
    }
    #style-2 {
        color: steelblue;
        width: 100%;
        padding: 1rem;
        margin: -.1%;
        border: solid 1px steelblue;
        resize: vertical;
        -webkit-transition: -webkit-box-shadow 0.3s, border 0.3s;
        -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
        transition: border 0.3s, -webkit-box-shadow 0.3s;
        -moz-transition: box-shadow 0.3s, border 0.3s, -moz-box-shadow 0.3s;
        -o-transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
    }
    #style-2:focus,
    #style-2.focus {
        color: steelblue;
        width: 100%;
        border: solid 1px steelblue;
        -webkit-box-shadow: 0 0 5px 1px white;
        -moz-box-shadow: 0 0 5px 1px white;
        box-shadow: 0 0 5px 1px white;
    }
    input,
    input[placeholder],
    textarea,
    textarea[placeholder] {
        font-weight: 400;
    }
    .button {
        margin-top: 0.6rem;
        margin-left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        color: white;
        padding: 0.8rem 1.4rem 0.8rem 1.4rem;
        font-size: 1rem;
        background: rgba(0, 0, 0, 0);
        border: solid 1px white;
    }
    .button:hover,
    .button.hover {
        border-color: white;
        color: white;
        cursor: pointer;
    }
    .button:active,
    .button.active {
        border-color: white;
        color: white;
        -webkit-box-shadow: 0 0 5px 1px white;
        -moz-box-shadow: 0 0 5px 1px white;
        box-shadow: 0 0 5px 1px white;
    }
    .copyright-text {
        text-align: center;
    }
}

@media only screen and (min-width: 680px) and (max-width: 959px) {
    body, html {
        font-family: 'Roboto', sans-serif;
        background-color: steelblue;
        overflow-x: hidden;
        margin: 0 auto;
        padding: 0;
        height: auto;
    }
    img {
        max-width: 100%;
    }
    a {
        text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p,
    li,
    blockquote {
        color: white;
    }
    h1 {
        font-weight: 600;
    }
    h3,
    p,
    li,
    blockquote {
        font-weight: 300;
    }
    .top {
        position: fixed;
        margin: 0;
        padding: 0;
        right: 1.4rem;
        bottom: 2rem;
        z-index: 10;
        width: 35px;
        height: 35px;
    }
    .top a {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 0;
    }
    .logo-mobile {
        display: none;
    }
    .logo,
    .logo img {
        width: 400px;
        padding: 0.8rem;
        margin: 0;
    }
    .logo {
        padding: 0;
    }
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
    }
    .menu-bg {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 66px;
        background-color: steelblue;
        z-index: 2;
    }
    .row {
        position: relative;
    }
    label {
        color: white;
        font-size: 5rem;
        line-height: 5rem;
        position: absolute;
        right: 0.6rem;
        top: -0.2rem;
        margin: 0;
        padding: 0;
    }
    #menu-toggler {
        display: none;
    }
    #menu-toggler:checked + nav {
        display: block;
    }
    .navbar nav {
        display: none;
        position: absolute;
        top: 0;
        padding-top: 5rem;
        padding-bottom: 1rem;
        width: 100%;
        height: auto;
        background-color: steelblue;
        z-index: -1;
    }
    nav ul {
        margin: auto;
        padding: 0;
    }
    nav ul li {
        display: block;
        list-style: none;
        text-align: center;
        margin: 1.2rem auto;
    }
    nav ul li a {
        color: white;
        font-size: 1.6rem;
        margin: 0;
    }
    .landing-page {
        background-image: url(../img/slider1.jpg);
        -webkit-background-origin: border-box;
        -moz-background-origin: border-box;
        -o-background-origin: border-box;
        background-origin: border-box;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        z-index: 3;
    }
    .lp-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(70, 130, 180, 0.5);
    }
    .lp-content {
        position: absolute;
        top: 54%;
        width: 96%;
        height: auto;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 4;
    }
    .lp-content h1 {
        font-size: 3rem;
        /*    margin: 1.2rem;*/
    }
    .lp-content p,
    .lp-content a {
        font-weight: 300;
        font-size: 1.2rem;
        max-width: 80%;
        margin: 1rem;
    }
    .lp-content p {
        display: block;
        margin: auto;
        margin-bottom: 1.2rem;
    }
    .lp-content a {
        font-size: 1.2rem;
        display: inline-block;
        background-color: rgba(70, 130, 180, 0.7);
        padding: 0.6rem 1rem;
        border: 2px solid white;
        -webkit-transition: background-color 0.3s linear;
        -moz-transition: background-color 0.3s linear;
        -o-transition: background-color 0.3s linear;
        transition: background-color 0.3s linear;
    }
    .lp-content a:hover {
        background-color: steelblue;
    }
    .key-points,
    .intro,
    .services,
    .portfolio,
    .contact,
    .map-form-section {
        padding: 2rem 0;
        width: 100vw;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px dotted white;
        position: relative;
        z-index: 1;
    }
    .md-sd {
        border-left: 1px dotted white;
        border-right: 1px dotted white;
    }
    .key-pt div img {
        margin-top: 2rem;
        width: 90px;
        position: relative;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .key-pt div h3 {
        text-align: center;
        max-width: 80%;
        margin-bottom: 2rem;
        position: relative;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .intro-text {
        text-align: center;
    }
    .intro-text p {
        font-size: 1.2rem;
        max-width: 94%;
        position: relative;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .first {
        margin-top: 0;
    }
    .last {
        margin-bottom: 0;
    }
    .s-title {
        text-align: center;
    }
    .services-images {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        /*    margin: 1rem;*/
        padding: 0;
    }
    .services-images img {
        width: 260px;
        margin-left: -5%;
    }
    .services-row {
        position: relative;
    }
    .services-row ol li {
        list-style: none;
        display: block;
        margin-right: 0.6rem;
        padding: 0;
    }
    .services-row ol,
    ul,
    li {
        font-size: 1.2rem;
        margin-bottom: 0.4rem;
        margin-top: 0;
        list-style: disc;
    }
    #gallery {
        margin: auto;
        padding: 0;
        margin-top: 4%;
        width: 100%;
        height: auto;
        text-align: center;
    }
    #gallery a {
        width: 140px;
        height: 140px;
        overflow: hidden;
        margin: auto;
        padding: 0;
        display: inline-block;
    }
    #gallery img {
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        margin: auto;
        height: 100%;
        width: 100%;
    }
    #gallery a:nth-child(1n+11) {
        visibility: hidden;
        display: none;
    }
    #gallery:target a:nth-child(1n+11) {
        visibility: visible;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    #gallery:target + .view-more {
        visibility: hidden;
        display: none;
    }
    .view-more {
        display: inline-block;
        margin: auto;
        margin-left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        margin-top: 2rem;
        clear: both;
        font-style: normal;
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
        padding: 0.8rem 1.4rem 0.8rem 1.4rem;
        font-size: 1rem;
        background: rgba(0, 0, 0, 0);
        border: solid 1px white;
    }
    .view-more:hover,
    .view-more.hover {
        border-color: white;
        color: white;
        cursor: pointer;
    }
    .view-more:active,
    .view-more.active {
        border-color: white;
        color: white;
        -webkit-box-shadow: 0 0 5px 1px white;
        -moz-box-shadow: 0 0 5px 1px white;
        box-shadow: 0 0 5px 1px white;
    }
    .contact {
        text-align: center;
    }
    .facebook,
    .facebook img {
        width: 2.4rem;
        height: 2.4rem;
        -webkit-transition: -webkit-transform 0.3s linear;
        transition: -webkit-transform 0.3s linear;
        -moz-transition: transform 0.3s linear, -moz-transform 0.3s linear;
        -o-transition: transform 0.3s linear, -o-transform 0.3s linear;
        transition: transform 0.3s linear;
        transition: transform 0.3s linear, -webkit-transform 0.3s linear, -moz-transform 0.3s linear, -o-transform 0.3s linear;
    }
    .facebook img:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    .map h1,
    .form h1 {
        text-align: center;
    }
    /*MAP STYLES*/
    #id-dummy {
        min-height: 320px;
        width: 80%;
        padding: 0;
        margin: 5% auto 8% auto;
        z-index: 0;
    }
    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4,
    .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }
    /*FORM STYLES*/
    form {
        width: 80%;
        position: relative;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        font-size: 1.2rem;
    }
    .style-1 input[type="text"] {
        color: steelblue;
        width: 100%;
        padding: 1rem;
        margin: -.1%;
        border: solid 1px steelblue;
        border-bottom: 0;
        -webkit-transition: -webkit-box-shadow 0.3s, border 0.3s;
        -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
        transition: border 0.3s, -webkit-box-shadow 0.3s;
        -moz-transition: box-shadow 0.3s, border 0.3s, -moz-box-shadow 0.3s;
        -o-transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
    }
    .style-1 input[type="text"]:focus,
    .style-1 input[type="text"].focus {
        color: steelblue;
        -webkit-transform: translate(0, .1%);
        -moz-transform: translate(0, .1%);
        -ms-transform: translate(0, .1%);
        -o-transform: translate(0, .1%);
        transform: translate(0, .1%);
        width: 100%;
        border: solid 1px steelblue;
        -webkit-box-shadow: 0 0 5px 1px white;
        -moz-box-shadow: 0 0 5px 1px white;
        box-shadow: 0 0 5px 1px white;
    }
    #style-2 {
        color: steelblue;
        width: 100%;
        padding: 1rem;
        margin: -.1%;
        border: solid 1px steelblue;
        resize: vertical;
        -webkit-transition: -webkit-box-shadow 0.3s, border 0.3s;
        -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
        transition: border 0.3s, -webkit-box-shadow 0.3s;
        -moz-transition: box-shadow 0.3s, border 0.3s, -moz-box-shadow 0.3s;
        -o-transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
    }
    #style-2:focus,
    #style-2.focus {
        color: steelblue;
        width: 100%;
        border: solid 1px steelblue;
        -webkit-box-shadow: 0 0 5px 1px white;
        -moz-box-shadow: 0 0 5px 1px white;
        box-shadow: 0 0 5px 1px white;
    }
    input,
    input[placeholder],
    textarea,
    textarea[placeholder] {
        font-weight: 400;
    }
    .button {
        margin-top: 0.6rem;
        margin-left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        color: white;
        padding: 0.8rem 1.4rem 0.8rem 1.4rem;
        font-size: 1rem;
        background: rgba(0, 0, 0, 0);
        border: solid 1px white;
    }
    .button:hover,
    .button.hover {
        border-color: white;
        color: white;
        cursor: pointer;
    }
    .button:active,
    .button.active {
        border-color: white;
        color: white;
        -webkit-box-shadow: 0 0 5px 1px white;
        -moz-box-shadow: 0 0 5px 1px white;
        box-shadow: 0 0 5px 1px white;
    }
    .copyright-text {
        text-align: center;
    }
}

@media only screen and (min-width: 960px) {
    body, html {
        font-family: 'Roboto', sans-serif;
        background-color: steelblue;
        overflow-x: hidden;
        margin: 0 auto;
        padding: 0;
    }
    img {
        max-width: 100%;
    }
    a {
        text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p,
    li,
    blockquote {
        color: white;
    }
    h1 {
        font-weight: 600;
    }
    h3,
    p,
    li,
    blockquote {
        font-weight: 300;
    }
    .logo,
    .logo img {
        width: 320px;
        height: auto;
        padding: 0.6rem 0 0.6rem 0.6rem;
        margin: 0;
    }
    .logo-mobile,
    label,
    #menu-toggler {
        display: none;
    }
    .top {
        position: fixed;
        margin: 0;
        padding: 0;
        right: 1.6rem;
        bottom: 1.8rem;
        z-index: 10;
        width: 35px;
        height: 35px;
    }
    .top a {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 0;
    }
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
    }
    .menu-bg {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 62px;
        background-color: steelblue;
        z-index: 2;
    }
    .row {
        position: relative;
    }
    .navbar {
        position: absolute;
        top: 50%;
        right: 0;
        width: auto;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    nav {
        position: relative;
        right: 0;
    }
    nav ul li {
        display: inline;
        list-style: none;
        margin-left: 2rem;
    }
    nav ul li a {
        color: white;
        font-size: 0.9rem;
        padding: 0.2rem 0.4rem;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        font-weight: 300;
    }
    nav ul li a:hover {
        background-color: white;
        color: steelblue;
    }
    .landing-page {
        background-image: url(../img/slider1.jpg);
        -webkit-background-origin: border-box;
        -moz-background-origin: border-box;
        -o-background-origin: border-box;
        background-origin: border-box;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        z-index: 3;
    }
    .lp-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(70, 130, 180, 0.5);
    }
    .lp-content {
        position: absolute;
        top: 52%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 4;
    }
    .lp-content h1 {
        font-size: 3.4rem;
        margin: 1.2rem;
    }
    .lp-content p,
    .lp-content a {
        font-weight: 300;
        font-size: 1.2rem;
        max-width: 80%;
        margin: 1rem;
    }
    .lp-content p {
        display: block;
        margin: auto;
        margin-bottom: 1.2rem;
    }
    .lp-content a {
        font-size: 1.2rem;
        display: inline-block;
        background-color: rgba(70, 130, 180, 0.7);
        padding: 0.6rem 1rem;
        border: 2px solid white;
        -webkit-transition: background-color 0.3s linear;
        -moz-transition: background-color 0.3s linear;
        -o-transition: background-color 0.3s linear;
        transition: background-color 0.3s linear;
    }
    .lp-content a:hover {
        background-color: steelblue;
    }
    .key-points,
    .intro,
    .services,
    .portfolio,
    .contact,
    .map-form-section {
        padding: 4rem 0;
        width: 100vw;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px dotted white;
        position: relative;
        z-index: 1;
    }
    .md-sd {
        border-right: 1px dotted white;
        border-left: 1px dotted white;
    }
    .key-pt div img {
        margin-top: 1rem;
        width: 30%;
        position: relative;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .key-pt div h3 {
        text-align: center;
        max-width: 80%;
        position: relative;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .intro-text {
        text-align: center;
    }
    .intro-text p {
        font-size: 1.2rem;
        max-width: 94%;
        position: relative;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .first {
        margin-top: 0;
    }
    .last {
        margin-bottom: 0;
    }
    .s-title {
        text-align: center;
    }
    .services-images {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 1rem;
        width: auto;
        height: auto;
        padding: 0;
    }
    .services-images img {
        width: 280px;
    }
    .services-row ol li {
        list-style: none;
        display: inline;
        margin-right: 0.6rem;
        padding: 0;
    }
    .services-row ol,
    ul,
    li {
        font-size: 1.2rem;
        margin-bottom: 0.4rem;
        margin-top: 0;
        list-style: disc;
    }
    #gallery {
        margin: auto;
        padding: 0;
        margin-top: 4%;
        width: 100%;
        height: auto;
        text-align: center;
    }
    #gallery a {
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: auto;
        padding: 0;
        display: inline-block;
    }
    #gallery img {
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        margin: auto;
        height: 100%;
        width: 100%;
    }
    #gallery a:nth-child(1n+11) {
        visibility: hidden;
        display: none;
    }
    #gallery:target a:nth-child(1n+11) {
        visibility: visible;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    #gallery:target + .view-more {
        visibility: hidden;
        display: none;
    }
    .view-more {
        display: inline-block;
        margin: auto;
        margin-left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        margin-top: 2rem;
        clear: both;
        font-style: normal;
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
        padding: 0.8rem 1.4rem 0.8rem 1.4rem;
        font-size: 1rem;
        background: rgba(0, 0, 0, 0);
        border: solid 1px white;
    }
    .view-more:hover,
    .view-more.hover {
        border-color: white;
        color: white;
        cursor: pointer;
    }
    .view-more:active,
    .view-more.active {
        border-color: white;
        color: white;
        -webkit-box-shadow: 0 0 5px 1px white;
        -moz-box-shadow: 0 0 5px 1px white;
        box-shadow: 0 0 5px 1px white;
    }
    .contact {
        text-align: center;
    }
    .facebook,
    .facebook img {
        width: 2.4rem;
        height: 2.4rem;
        -webkit-transition: -webkit-transform 0.3s linear;
        transition: -webkit-transform 0.3s linear;
        -moz-transition: transform 0.3s linear, -moz-transform 0.3s linear;
        -o-transition: transform 0.3s linear, -o-transform 0.3s linear;
        transition: transform 0.3s linear;
        transition: transform 0.3s linear, -webkit-transform 0.3s linear, -moz-transform 0.3s linear, -o-transform 0.3s linear;
    }
    .facebook img:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    .map h1,
    .form h1 {
        text-align: center;
    }
    /*MAP STYLES*/
    #id-dummy {
        height: 320px;
        width: 84%;
        min-height: 200px;
        min-width: 300px;
        margin: auto;
        margin-top: 7%;
        z-index: 0;
    }
    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4,
    .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }
    /*FORM STYLES*/
    .form {
        border-left: 1px dotted white;
    }
    form {
        width: 80%;
        position: relative;
        left: 50%;
        -webkit-transform: translate(-49%, 0);
        -moz-transform: translate(-49%, 0);
        -ms-transform: translate(-49%, 0);
        -o-transform: translate(-49%, 0);
        transform: translate(-49%, 0);
        font-size: 1.2rem;
    }
    .style-1 input[type="text"] {
        color: steelblue;
        width: 100%;
        padding: 1rem;
        margin: -.1%;
        border: solid 1px steelblue;
        border-bottom: 0;
        -webkit-transition: -webkit-box-shadow 0.3s, border 0.3s;
        -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
        transition: border 0.3s, -webkit-box-shadow 0.3s;
        -moz-transition: box-shadow 0.3s, border 0.3s, -moz-box-shadow 0.3s;
        -o-transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
    }
    .style-1 input[type="text"]:focus,
    .style-1 input[type="text"].focus {
        color: steelblue;
        -webkit-transform: translate(0, .1%);
        -moz-transform: translate(0, .1%);
        -ms-transform: translate(0, .1%);
        -o-transform: translate(0, .1%);
        transform: translate(0, .1%);
        width: 100%;
        border: solid 1px steelblue;
        -webkit-box-shadow: 0 0 5px 1px white;
        -moz-box-shadow: 0 0 5px 1px white;
        box-shadow: 0 0 5px 1px white;
    }
    #style-2 {
        color: steelblue;
        width: 100%;
        padding: 1rem;
        margin: -.1%;
        border: solid 1px steelblue;
        resize: vertical;
        -webkit-transition: -webkit-box-shadow 0.3s, border 0.3s;
        -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
        transition: border 0.3s, -webkit-box-shadow 0.3s;
        -moz-transition: box-shadow 0.3s, border 0.3s, -moz-box-shadow 0.3s;
        -o-transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
    }
    #style-2:focus,
    #style-2.focus {
        color: steelblue;
        width: 100%;
        border: solid 1px steelblue;
        -webkit-box-shadow: 0 0 5px 1px white;
        -moz-box-shadow: 0 0 5px 1px white;
        box-shadow: 0 0 5px 1px white;
    }
    input,
    input[placeholder],
    textarea,
    textarea[placeholder] {
        font-weight: 300;
    }
    .button {
        margin-top: 0.6rem;
        margin-left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        color: white;
        padding: 0.8rem 1.2rem 0.8rem 1.2rem;
        font-size: 1rem;
        background: rgba(0, 0, 0, 0);
        border: solid 1px white;
    }
    .button:hover,
    .button.hover {
        border-color: white;
        color: white;
        cursor: pointer;
    }
    .button:active,
    .button.active {
        border-color: white;
        color: white;
        -webkit-box-shadow: 0 0 5px 1px white;
        -moz-box-shadow: 0 0 5px 1px white;
        box-shadow: 0 0 5px 1px white;
    }
    .copyright-text {
        text-align: center;
    }
}